* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

main {
    background-color: white;
    max-width: 840px;
    width: 100%;
    border-radius: 24px 24px 200px 24px;
    display: flex;
    justify-content: center;
    margin: 0 16px;
}

img {
    display: block;
}

section {
    width: 90%;
    padding: 56px 0;
}

.section-1 {
    display: flex;
    gap: 32px;
}

.section-2 {
    display: flex;
    justify-content: flex-end;
}

input {
    max-width: 160px;
    height: 72px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: 1px solid #DCDCDC;
    font-weight: 700;
    font-size: 32px;
    opacity: 1;
    color: #151515;
    padding: 12px 24px;
    caret-color: #854DFF;
}

input:focus {
    outline: 1px solid #854DFF;
}

h1 {
    font-weight: 800;
    font-size: 104px;
    line-height: 114.4px;
    color: #151515;
    font-style: italic;
    white-space: nowrap;
}

span {
    color: #854DFF;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #716F6F;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #716F6F;
    margin-bottom: 8px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FF5959;
    margin-top: 8px;
    font-style: italic;
}

.button {
    width: 96px;
    height: 96px;
    background-color: #854DFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:active {
    background-color: #151515;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 700;
    font-size: 32px;
    color: rgba(1, 1, 1, 0.5);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 700;
    font-size: 32px;
    color: rgba(1, 1, 1, 0.5);
    opacity: 1;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (width <=660px) {
    input {
        font-size: 20px;
        height: 54px;
        padding: 12px;
    }

    h1 {
        font-size: 56px;
        line-height: 61.6px;
    }

    h3 {
        font-size: 12px;
        line-height: 18px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 4px;
    }

    ::placeholder {
        font-size: 20px;
    }

    .button {
        width: 64px;
        height: 64px;
    }

    img {
        width: 24px;
        height: 24px;
    }

    section {
        width: 90%;
        padding: 48px 0;
    }

    .section-1 {
        gap: 16px;
    }

    .section-2 {
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (width <=375px) {
    input {
        font-size: 16px;
        height: 36px;
    }

    h1 {
        font-size: 42px;
        line-height: 50px;
    }

    h3 {
        font-size: 12px;
        line-height: 12px;
    }

    p {
        font-size: 12px;
        line-height: 12px;
    }

    ::placeholder {
        font-size: 16px;
    }

    section {
        width: 90%;
        padding: 24px 0;
    }

    .button {
        width: 48px;
        height: 48px;
    }

    img {
        width: 24px;
        height: 24px;
    }

    .section-2 {
        justify-content: center;
    }
}